body {
  background-color: black;
  color: white;
}
div {
  display: flex;
  justify-content: center;

  /* background-color: aqua; */
}
h1 {
  margin-top: 70px;
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}
h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  height: 400px;
  width: 400px;
  margin-left: 90px;
  margin-right: 90px;
  /* background-color: aliceblue; */
}
.click {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  height: 150px;
  width: 400px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  border: 4px solid black;
  text-align: center;
}

button:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  img {
    height: 200px;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
  }
  button {
    height: 90px;
    width: 200px;
  }
}
