div {
  display: flex;
  justify-content: center;

  /* background-color: aqua; */
}
h1 {
  margin-top: 70px;
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}
img {
  height: 400px;
  width: 400px;
  margin-left: 90px;
  margin-right: 90px;
  /* background-color: aliceblue; */
}
button {
  height: 150px;
  width: 400px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  border: 4px solid black;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}
