body {
  background-color: black;
  text-align: center;
  justify-content: center;
}
h1 {
  color: white;
  font-size: 90px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

.all {
  text-align: center;
  display: flex;
  /* make it center */
  justify-content: center;
}
.container {
  height: 600px;
  width: 1100px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box {
  height: 150px;
  width: 150px;
  background-color: blue;
  border: 10px solid black;
}
img {
  height: 130px;
  width: 130px;
  text-align: center;
  padding-top: 3px;
}
.angryCookies {
  height: 150px;
  width: 150px;
}
.nameGame {
  display: flex;
  text-align: center;
  justify-content: center;
  /* background-color: blue; */
}
.cookieHead {
  height: 200px;
  width: 200px;
}
.bar {
  height: 80px;
  width: auto;
  /* background-color: aliceblue; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
}
#times {
  margin-right: 50px;
  padding: 20px;
  background-color: white;
  border: 10px solid blue;
  border-radius: 20px;
  width: 200px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 30px;
}
#startTheGame {
  height: 90px;
  width: 300px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  border: 4px solid black;
}
#startTheGame:hover {
  background-color: blue;
  color: white;
}

#scoring {
  margin-left: 50px;
  padding: 20px;
  background-color: white;
  border: 10px solid blue;
  border-radius: 20px;
  width: 200px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 30px;
}
#timeCount {
  height: 50px;
  width: 250px;
  margin-left: 500px;

  color: red;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  cursor: pointer;
}

.animation {
  display: flex;

  /* background-color: antiquewhite; */
}
#scoreCountUp {
  height: 50px;
  width: 250px;
  margin-left: 400px;
  color: greenyellow;
  font-size: 40px;
  /* background-color: aliceblue; */
}

@media (max-width: 600px) {
  #times {
    height: 40px;
    width: 280px;
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .container {
    height: 400px;
    width: 500px;
  }

  .cookieHead {
    height: 100px;
    width: 100px;
  }
}
